@media screen and (max-width: 1200px) {
  .qrcode {
    display: none;
  }
  .depth {
    margin-left: 0%;
  }
  footer {
    position: fixed;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    background: #010000;
    z-index: 100;
    width: 100%;
    bottom: 0;
  }
  .view {
    display: none;
  }
  .char01 {
    display: none;
  }
  .char02 {
    display: none;
  }
  .Images01 img {
    margin: 0 auto;
    display: block;
    width: 60%;
  }
  #evt3 .information {
    width: 37%;
    margin: 808px auto 0 auto;
  }
  #evt4 .Images01 img {
    width: 118%;
  }
  #evt4 .Images02 img {
    width: 100%;
  }
  #evt4 .Images02 {
    margin-top: -6%;
    margin-left: -6%;
  }
  #evt4 .Images03 {
    margin-top: -10.5%;
    margin-left: 53%;
  }
  #evt4 .information {
    width: 36%;
    margin: 782px auto 0 auto;
    margin-left: 34%;
  }
  #evt2 .Images01 img {
    margin: 0 auto;
    display: block;
    width: 94%;
  }
  #evt2 .char_main ul li {
    color: rgb(61 12 0);
    font-size: 23px;
    list-style-type: square;
    text-align: initial;
    line-height: 34px;
    font-weight: bold;
  }
  #evt5 .Images05 {
    margin-top: -9%;
  }
  .char_goto img {
    width: 166%;
  }
  .char03 {
    display: none;
  }
  .char04 {
    display: none;
  }
  .char05 {
    display: none;
  }
  .wrap ul {
    width: 73%;
    margin-top: 0%;
  }
  #evt2 .wrap ul {
    width: 90%;
  }
  .wrap video {
    display: none;
  }
  .wrap li {
    font-size: 22px;
    line-height: 40px;
  }
  .gotop {
    display: none;
  }
  #evt3 h2 {
    margin-top: 59%;
    position: absolute;
    margin-left: 22%;
  }
  .slider {
    display: none;
  }
  .char .tabs {
    margin-top: 7%;
  }
}
@media screen and (max-width: 1150px) {
  .people {
    left: 12%;
    bottom: 0;
  }
  .img_evt.storm {
    top: 20%;
  }
  .grp_boost .img_evt {
    margin-left: 5%;
  }
  nav ul:before {
    display: none;
  }
  nav li:before {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  /*----depth----*/
  .depth {
    height: 80px;
  }
  .game_ui {
    top: 15px;
    left: 15px;
  }
  .depth .logo {
    display: none;
  }
  .light {
    display: none;
  }
  .box1 .Images01 {
    margin-top: -1%;
    display: block
  }
  .btn_gm {
    margin-left: -2px;
  }
  /*----nav----*/
  nav li a {
    padding: 20px 15px;
  }
  /*----header----*/
  .people {
    left: 6%;
    bottom: 0;
  }
  .wrap .title {
    margin: 20px auto;
    margin-left: 0%;
    overflow: hidden;
  }
}
/*---evt1----*/
h1 {
  font-size: 25px;
  line-height: 38px;
}
button img {
  width: 150%;
}
.box2 .icon {
  display: inline-block;
}
/*----evt3_1----*/
.role {
  display: none;
}
a.button01 {
  margin-top: 155%;
  padding: 20px 58px;
  font-size: 29px;
  margin-left: -22%;
}
@media screen and (max-width: 960px) {
  /*----game_link----*/
  .game_link {
    border: none;
    top: -126px;
    right: 0;
    margin-left: 100%;
  }
  .depth {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background: rgb(38 72 30);
  }
  .falling-leaves {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0%;
    width: 100%;
    max-width: 800px;
    max-height: 740px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .Images03 img {
    width: 49%;
    margin-top: 3%;
  }
  .Images03 {
    width: 94%;
  }
  #evt2 h4 {
    margin-top: 4%;
  }
  h5 {
    font-size: 15pt;
  }
  .box {
    width: 90%;
  }
  .box1 p {
    margin: 8px 24px 8px 24px;
    color: #eaffc3;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
  }
  .char_main {
    margin-top: -14%;
    top: 9%;
    margin-left: 22%;
    width: 419px;
  }
  .Images01_m {
    display: block;
  }
  div#char2 .char_img {
    left: -7%;
  }
  div#char2 .char_img02 {
    margin-top: 40%;
    left: 35%;
  }
  div#char3 .char_img {
    left: -16%;
  }
  div#char3 .char_img02 {
    margin-top: 42%;
    left: 45%;
  }
  div#char4 .char_img02 {
    margin-top: 38%;
    left: 47%;
  }
  .char_img {
    margin-top: 39%;
    left: 1%;
  }
  .box_img img {
    width: 100%;
  }
  .p, #evt2 p {
    font-size: 23px;
  }
  .char_title {
    margin-left: -52%;
  }
  div#char1 .char_img02 {
    margin-top: 42%;
    left: 37%;
  }
  .fb_icon {
    display: none;
  }
  .fb_icon_m {
    width: 100%;
    display: block;
    margin-top: -17%;
    text-align: center;
  }
  .fb_icon img {}
  .box_img {
    margin-top: -5%;
    width: 73%;
  }
  .copyright {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  h2 {
    font-size: 19pt;
    line-height: 41px;
  }
  #evt2 h2 {
    font-size: 19pt;
    color: #ffe863;
    text-align: center;
    margin-top: 0%;
    font-weight: normal;
    font-weight: 600;
    margin: 0px 18px 0 18px;
  }
  #evt2 h3 {
    font-size: 20pt;
    color: #fff787;
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
  }
  .box_evt {
    display: flex;
    padding: 10px 10px 10px 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .box_evt form {
    margin-top: 4%;
    width: 95%;
  }
  footer .copyright img {
    width: 13%;
  }
  .grading img {
    width: 10%;
  }
  .box2 span {
    font-size: 19px;
  }
  .char .tabs li {
    margin-left: 1%;
    z-index: 9;
    margin-top: 26%;
  }
  .img {
    margin-left: auto;
    margin-right: auto;
  }
  .char1 {
    display: none;
  }
  .char2 {
    display: none;
  }
  .char3 {
    display: none;
  }
  .char4 {
    display: none;
  }
  .char5 {
    display: none;
  }
  .char6 {
    display: none;
  }
  .char7 {
    display: none;
  }
  .char8 {
    display: none;
  }
  #evt5 .information {
    width: 36%;
  }
  .Images02 {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .Images02 img {
    width: 33%;
    margin: 0px 0px 0 0px;
  }
  #evt3 .Images.wow.slideInDown {
    margin-left: 30px;
    margin-right: 30PX;
  }
  .logo_loading {
    margin-top: 40%;
  }
  #notice03 {
    display: block;
    margin-top: 87%;
  }
  #close {
    margin-top: 6%;
    width: 58px;
    height: 58px;
  }
  #pay03 video {
    margin-top: 37%;
    z-index: 99;
    width: 737px;
    height: 415px;
    border: 10px solid #ab4f33;
  }
  .box2 {
    width: 87%;
  }
  .game_link a {
    border-left: 2px solid rgba(170, 170, 170, .7);
    width: 80px;
    height: 80px;
  }
  .information {
    margin: 46px auto 0 auto;
    line-height: 51px;
    width: 40%;
  }
  .owl-carousel .milestone img {
    margin-right: auto;
    margin-left: -3%;
  }
  .owl-item.center {
    width: 160px;
  }
  .years {
    height: 30px;
  }
  .owl-item a {
    font-size: 16px;
  }
  .owl-item.active.center a {
    font-size: 16px;
  }
  .owl-next {
    display: none;
  }
  .owl-prev {
    display: none;
  }
  .depth .icon {
    display: block !important;
  }
  label.check {
    font-size: 23px;
  }
  .years:after {
    display: none;
  }
  .pc {
    display: none;
  }
  .policy {
    font-size: 21px;
    line-height: 34px;
  }
  .wrap .mob {
    display: block;
    margin-top: -169%;
    margin-left: -20%;
  }
  .light01 {
    display: none;
  }
  footer {
    padding: 30px 15px 20px;
    height: 350px;
  }
  footer p {
    margin: 7px;
    opacity: 1;
  }
  .box2 .icon_all {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
  }
  /*---depth----*/
  .depth {
    z-index: 3;
  }
  .depth .wrap {
    text-align: left;
  }
  .open_menu {
    border-radius: 0 50% 50% 0;
    display: inline-block;
    position: relative;
    margin: 15px 15px;
    margin-right: -3px;
    width: 56px;
    height: 49px;
    transform: rotate(0deg)scale(1.5);
    transition: .5s ease-in-out;
    z-index: 2;
  }
  .open_menu.close {
    margin-left: 15px;
  }
  span.btn {
    display: block;
    position: relative;
    margin-top: 13px;
    margin-left: -4px;
    transform: scale(.5);
  }
  .open_menu .btn span {
    display: block;
    position: absolute;
    height: 8px;
    width: 100%;
    background: #93bb67;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
  }
  .open_menu .btn span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
  }
  .open_menu .btn span:nth-child(2) {
    top: 18px;
    transform-origin: left center;
  }
  .open_menu .btn span:nth-child(3) {
    top: 36px;
    transform-origin: left center;
  }
  .open_menu.close .btn span:nth-child(1) {
    top: -3px;
    left: 8px;
    transform: rotate(45deg);
  }
  .open_menu.close .btn span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  .open_menu.close .btn span:nth-child(3) {
    top: 39px;
    left: 8px;
    transform: rotate(-45deg);
  }
  .game_ui {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    transform: scale(1.3);
  }
  .list_aside > li > a, .link_aside, .list_aside li {
    margin-top: 0px;
  }
  .Images01 {
    margin-top: 5%;
  }
  #evt2 .Images01 {
    display: none;
  }
  .char .tabs {
    display: contents;
  }
  .char_goto {
    margin-left: 39%;
    position: absolute;
    margin-top: 37%;
  }
  /*----popup-video----*/
  div#popup-video {
    width: 83%;
    margin-left: -41%;
  }
  /*----nav----*/
  nav {
    left: -100%;
    width: 60%;
    margin-top: 11%;
    height: 100%;
    background: url(../images/main/nav_bg_m.jpg) no-repeat center bottom #1d3d3a;
    transition: .5s ease-in-out;
    overflow-y: auto;
    z-index: 999;
  }
  nav.open {
    left: 25%;
  }
  nav .logo {
    display: block;
    margin: 0 auto;
    margin-top: 122px;
    max-width: 50%;
    margin-top: 36%;
  }
  nav .logo img {
    width: 100%;
  }
  nav ul {
    margin-top: 64px;
    margin-left: 39%;
  }
  nav li {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    margin-top: -5%;
  }
  nav li a {
    padding: 38px 25px;
    font-size: 36px;
  }
  .clouds {
    display: none;
  }
  .section_aside {
    top: 20%;
    background-image: none;
    width: 482px;
  }
  .list_aside > li > a, .link_aside, .list_aside li {
    display: block;
    width: 190px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .list_aside li:nth-child(1), .list_aside li:nth-child(1) .link_aside {
    height: 172px;
    background: url(../images/main/img_nav_m.png) no-repeat left top;
    background-position: 0 0;
  }
  .list_aside li:nth-child(1):hover, .list_aside li:nth-child(1):hover .link_aside, .list_aside li:nth-child(1) .link_aside.is_active {
    height: 172px;
    background-position: 0px 0;
  }
  .list_aside li:nth-child(2), .list_aside li:nth-child(2) .link_aside {
    height: 132px;
    background: url(../images/main/img_nav_m.png) no-repeat left top;
    background-position: 0 -190px;
  }
  .list_aside li:nth-child(2):hover, .list_aside li:nth-child(2):hover .link_aside, .list_aside li:nth-child(2) .link_aside.is_active {
    height: 132px;
    background-position: 0px -190px;
  }
  .list_aside li:nth-child(3), .list_aside li:nth-child(3) .link_aside {
    height: 96px;
    background: url(../images/main/img_nav_m.png) no-repeat left top;
    background-position: 0 -342px;
  }
  .list_aside li:nth-child(3):hover, .list_aside li:nth-child(3):hover .link_aside, .list_aside li:nth-child(3) .link_aside.is_active {
    height: 96px;
    background-position: 0px -342px;
  }
  .list_aside li:nth-child(4), .list_aside li:nth-child(4) .link_aside {
    height: 122px;
    background: url(../images/main/img_nav_m.png) no-repeat left top;
    background-position: 0 -447px;
  }
  .list_aside li:nth-child(4):hover, .list_aside li:nth-child(4):hover .link_aside, .list_aside li:nth-child(4) .link_aside.is_active {
    height: 122px;
    background-position: -190px -447px;
  }
  .list_aside li:nth-child(5), .list_aside li:nth-child(5) .link_aside {
    height: 182px;
    background: url(../images/main/img_nav_m.png) no-repeat left top;
    background-position: 0 -556px;
  }
  .list_aside li:nth-child(5):hover, .list_aside li:nth-child(5):hover .link_aside, .list_aside li:nth-child(5) .link_aside.is_active {
    height: 200px;
    background-position: -190px -556px;
  }
  .list_aside li:nth-child(6), .list_aside li:nth-child(6) .link_aside {
    height: 129px;
    background: url(../images/main/img_nav_m.png) no-repeat left top;
    background-position: 0 -731px;
  }
  .list_aside li:nth-child(6):hover, .list_aside li:nth-child(6):hover .link_aside, .list_aside li:nth-child(6) .link_aside.is_active {
    height: 129px;
    background-position: -190px -731px;
  }
  ul.list_aside {
    margin-left: none;
    margin-top: -6%;
  }
  /*----sec_bg----*/
  section .wrap {
    padding: 60px 0;
  }
  header, #evt1, #evt3_1 {
    margin-top: -5px;
    height: auto;
  }
  header {
    height: 1350px;
    background: url(../images/main/sec_bg_m_01.jpg) no-repeat center top;
  }
  #evt1 {
    height: 1635px;
    background: url(../images/evt1/sec_bg_m.jpg) no-repeat center top;
  }
  #evt2 {
    height: 2246px;
    background: url(../images/evt2/sec_bg_m.jpg) no-repeat center top;
  }
  #evt3 {
    height: 1589px;
    background: url(../images/evt3/sec_bg_m.jpg) no-repeat center top;
  }
  #evt4 {
    height: 1164px;
    background: url(../images/evt4/sec_bg_m.jpg) no-repeat center top;
  }
  #evt5 {
    height: 1313px;
    background: url(../images/evt5/sec_bg_m.jpg) no-repeat center top;
  }
  #evt6 {
    height: 970px;
    background: url(../images/evt6/sec_bg_m.jpg) no-repeat center top;
  }
  /*----header----*/
  .people, .slogan, .logo, .sub_title {
    display: none;
  }
  .store {
    margin-top: 108%;
    margin-right: auto;
    margin-bottom: 8px;
    margin-left: auto;
    z-index: 1;
  }
  .store.apk {
    margin: 4px auto 60px;
  }
  .store a {
    max-width: 55%;
    margin: 1% 4px 0;
  }
  .store img, .news img {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .owl-theme .owl-dots .owl-dot span {
    margin: 15px 3px;
    width: 45px;
    height: 8px;
  }
}