< !--* {
  font-family: 微軟正黑體, Arial, sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
}
html, body {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: #000000;
  font-family: system-ui;
}
.server_show {
  position: absolute;
  color: #ffffff;
  background-color: #000000b0;
  height: 50px;
  padding: 0px 20px 0px 20px;
  margin-left: 2%;
  margin-top: 1%;
}
#bg {
  background-image: url(../images/event.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  color: #fff;
  background-color: #000000;
}
#bg2 {
  background-image: url(../images/index.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  color: #fff;
  background-color: #458cb0;
}
#wrap {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}
#wrap2 {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  height: 1080px;
}
.txt {
  position: absolute;
  margin-top: 49%;
  text-align: center;
  margin-left: -3%;
  line-height: 30px;
  font-size: 21px;
  padding-top: 25px;
  padding-bottom: 72px;
  color: #b991ff;
  font-weight: bold;
  background-color: #13081dab;
  border-radius: 20px;
  border: 4px solid rgb(35 31 83);
  text-shadow: 0px 3px 15px #000000;
}
.tit {
  position: absolute;
  margin-top: 55%;
  margin-left: 32%;
  font-size: 27px;
  color: #ffd08a;
  font-weight: bold;
}
.kv .kv_ring {
  width: 1450 px;
  z-index: 0;
  -webkit-transform: translate(-50%, 206%);
  -ms-transform: translate(-50%, 206%);
  transform: translate(-50%, 206%);
  pointer-events: none;
}
.absolute {
  position: absolute;
  top: 33%;
  left: -25%;
}
.notice {
  position: relative;
  display: inline-block;
  margin-top: -17%;
  width: 70%;
  /* margin: 0 auto; */
  margin-left: 16%;
  color: #ffe9b0;
  line-height: 31px;
  font-weight: 700;
  font-size: 16px;
  z-index: 999;
  margin-bottom: 14%;
}
.notice h1 {
  font-size: 25px;
  margin: 1.67em 0;
  color: #ffde04;
  margin: 1% auto;
  text-align: center;
  position: relative;
}
strong {
  color: #ffd552;
  font-size: 18px;
}
.notice li {
  list-style: auto;
}
.pc {
  display: block;
}
img.d-block.r1.ring_ani {
  opacity: 0;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
img.d-block.r2.ring_ani {
  opacity: 0;
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s;
}
img.d-block.r3.ring_ani {
  opacity: 0;
  -webkit-animation-delay: 3.6s;
  animation-delay: 3.6s;
}
.d-block {
  width: 100%;
}
@-webkit-keyframes t_color_gold {
  0%, to {
    -webkit-filter: brightness(1);
    filter: brightness(1)
  }
  50% {
    -webkit-filter: brightness(1.5);
    filter: brightness(1.5)
  }
}
@keyframes t_color_gold {
  0%, to {
    -webkit-filter: brightness(1);
    filter: brightness(1)
  }
  50% {
    -webkit-filter: brightness(1.5);
    filter: brightness(1.5)
  }
}
.ring_ani {
  opacity: 1;
  -webkit-animation: ring_ani 2.0s linear infinite;
  animation: ring_ani 2.0s linear infinite;
  margin-left: 12%;
}
@-webkit-keyframes ring_ani {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1)
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, -20%) scale(1);
    transform: translate(0, -20%) scale(1)
  }
  to {
    opacity: 0;
    -webkit-transform: translate(0, -50%) scale(1);
    transform: translate(0, -50%) scale(1)
  }
}
@keyframes ring_ani {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1)
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, -20%) scale(1);
    transform: translate(0, -20%) scale(1)
  }
  to {
    opacity: 0;
    -webkit-transform: translate(0, -50%) scale(1);
    transform: translate(0, -50%) scale(1)
  }
}
/*----Button----*/
.button {
  position: absolute;
  margin-top: 5%;
  z-index: 999;
  display: flex;
  flex-wrap: nowrap;
}
.button a {
  margin: 2px;
}
.throw {
  width: 274px;
  height: 69px;
  background-image: url(../images/throw.png);
  background-repeat: no-repeat;
  display: grid;
  text-align: center;
  font-weight: bold;
  line-height: 27px;
  font-size: 21px;
  margin-top: 8px;
  padding-top: 1%;
}
.throw strong {
  color: #ffd552;
  font-size: 27px;
  margin-top: -11%;
  display: contents;
}
.throw p {
  display: contents;
}
.lucky {
  width: 274px;
  height: 69px;
  background-image: url(../images/throw.png);
  background-repeat: no-repeat;
  display: grid;
  text-align: center;
  font-weight: bold;
  line-height: 27px;
  font-size: 21px;
  margin-top: 8px;
  padding-top: 1%;
}
.lucky strong {
  color: #ffd552;
  font-size: 27px;
  margin-top: -11%;
  display: contents;
}
.lucky p {
  display: contents;
}
.btn {
  display: table-cell;
  padding: 4px;
}
.btn img {
  width: 100%;
}
.btn img:hover {
  position: relative;
  top: -3px;
  filter: brightness(1.6);
  -webkit-filter: brightness(1.6);
  -moz-filter: brightness(1.6);
}
.award_mercy {
  position: absolute;
  width: 230px;
  height: 216px;
  background-image: url(../images/award.png);
  margin-top: 25%;
  z-index: 1;
  margin-left: -6%;
  text-align: center;
  animation: glow 2s ease-in-out infinite;
}
.award_mercy02 {
  position: absolute;
  width: 230px;
  height: 216px;
  background-image: url(../images/award.png);
  margin-top: 25%;
  z-index: 9999;
  margin-left: 76%;
  text-align: center;
}
.mercy_top {
  height: 49px;
  text-align: center;
  padding-top: -1px;
  font-size: 19px;
  font-weight: bold;
  color: #ffb700;
  line-height: 55px;
}
a.but03 {
  position: absolute;
  margin-top: 68%;
  margin-left: -73%;
}
a.but04 {
  position: absolute;
  margin-top: 69%;
  margin-left: -74%;
}
.mercy_top strong {
  color: #FFF7D1;
  font-size: 23px;
}
.award_mercy img {
  margin: 4px auto;
}
.award_tail {
  position: absolute;
  width: 230px;
  height: 216px;
  background-image: url(../images/award.png);
  margin-top: 41%;
  z-index: 1;
  margin-left: 70%;
  text-align: center;
}
.tail_top {
  height: 35px;
  text-align: center;
  padding-top: 14px;
  font-size: 20px;
  font-weight: bold;
  color: #ffb700;
}
.tail_top strong {
  color: #FFF7D1;
  font-size: 15px;
}
.award_tail img {
  margin: 27px auto;
}
.GettyImages {
  position: absolute;
  margin-left: -9%;
  top: -9%;
  mix-blend-mode: plus-lighter;
  animation: seesaw02 ease-in-out 2.8s infinite;
}
.GettyImages img {
  width: 62%;
}
.GettyImages02 {
  position: absolute;
  top: -14%;
  margin-left: 65%;
  mix-blend-mode: plus-lighter;
  z-index: 1000;
  animation: seesaw02 ease-in-out 2.5s infinite;
}
.GettyImages02 img {
  width: 88%;
}
a.btn_ex:hover {
  -webkit-filter: brightness(1.6);
}
.button_btn {
  position: fixed;
  margin-top: 20.5%;
  margin-left: -18%;
  z-index: 99;
}
.topup {
  position: fixed;
  margin-top: 12%;
  margin-left: -18%;
     z-index: 10000;
  text-align: center;
}
.btn_btn01 {
  margin: 12px auto;
}
p.purple {
  font-size: 35px;
  color: #ff9900;
  font-weight: bold;
  padding: -10%;
  margin-top: 0%;
  margin-bottom: 5%;
  text-shadow: black 0.1em 0.1em 0.2em, black 0.1em 0.1em 0.2em;
}
.goods02 {
  margin: -3% -4%;
}
.reward02 h3 {
  position: relative;
  border-radius: 5px;
  font-size: 28px;
  color: rgb(165 89 11);
  margin-top: 5%;
  margin-bottom: 9%;
  margin-left: -1%;
}
.reward02 h3 strong {
  color: #ffffff;
}
.reward03 {
  display: inline-block;
  border-radius: 15px;
  position: absolute;
  margin: 9% 538px 0%;
  padding: 10px;
  width: 225px;
  background: #edca8a;
  text-align: center;
}
.goods03 {
  margin: -3% -4%;
}
.reward03 h3 {
  position: relative;
  border-radius: 5px;
  font-size: 28px;
  color: rgb(165 89 11);
  margin-top: 5%;
  margin-bottom: 9%;
  margin-left: -1%;
}
.reward03 h3 strong {
  color: #ffffff;
}
.amount_01 {
  margin: -14% -0 0 58%;
  position: relative;
  border-radius: 6px;
  width: 261px;
  height: 90px;
  background: #7d0006;
  font-size: 23px;
  text-align: center;
  font-weight: bold;
  color: #fff250;
  /* padding: 20px; */
  padding-top: 7px;
}
.amount_01 strong {
  color: #FFF;
}
.amount_02 {
  margin: 24% 0 0 63%;
  position: absolute;
  border-radius: 6px;
  width: 261px;
  background: #7d0006;
  font-size: 23px;
  text-align: center;
  font-weight: bold;
  color: #fff250;
}
.amount_02 strong {
  color: #FFF;
}
/*---------------------------
	 Logo
----------------------------*/
.logo {
  position: absolute;
  background: url(../images/logo.png);
  width: 190px;
  height: 130px;
  display: block;
  top: 20px;
  left: 218px;
  cursor: pointer;
  z-index: 99;
  transition-duration: 1.5s;
  -webkit-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
}
.slogan {
  position: absolute;
  margin-top: 33%;
  margin-left: 21%;
  background-repeat: no-repeat;
  z-index: 10000;
}
.slogan_1 {
  width: 819px;
  height: 294px;
  position: absolute;
  z-index: 50;
  margin-top: 29%;
  margin-left: 24%;
  animation: slogan ease-in-out 1.5s infinite;
  background-image: url(../images/slogan.png);
  background-repeat: no-repeat;
}
@keyframes slogan {
  0% {
    top: 0px;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 0px;
  }
}
.main {
  position: relative;
  height: 1118px;
}
.flash {
  position: relative;
  height: 450px;
  margin-bottom: 23%;
  z-index: 999;
}
.pitcher_effects {
  position: absolute;
  z-index: 100000;
  margin-left: -35%;
  margin-top: -20%;
}
/*----Egg----*/
.treasure {
  position: absolute;
  top: 77%;
  left: 72%;
  z-index: 10;
}
.tr_box {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 45%;
  transform: translate(-50%, -50%);
}
.pitcher {
  top: 5%;
  position: absolute;
  margin-left: 75%;
  animation: seesaw ease-in-out 1.5s infinite;
}
.optional {
  position: absolute;
  margin-top: 68%;
  margin-left: -5%;
}
.blow {
  top: 6%;
  margin-left: 74%;
  position: absolute;
  animation: seesaw ease-in-out 1.5s infinite;
}
@keyframes Shakelf {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  50% {
    transform: rotate(-2deg);
    transform-origin: 50% 100%;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
}
.Shakeleft {
  animation: Shakeleft 1.2s linear;
  animation-fill-mode: forwards;
}
@keyframes Shakeleft {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  100% {
    transform: rotate(20deg);
    transform-origin: 50% 100%;
  }
}
.Shakeright {
  animation: Shakeright 1.2s linear;
  animation-fill-mode: forwards;
}
@keyframes Shakeright {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  50% {
    /* transform: rotate(58deg); */
    /* transform-origin: 50% 100%; */
    /* transform-origin: 50% 100%; */
  }
  100% {
    transform: rotate(-15deg);
    transform-origin: 50% 100%;
  }
}
.pitcher_open02 {
  position: absolute;
  top: -22%;
  left: -105%;
  z-index: 99;
  mix-blend-mode: plus-lighter;
}
.pitcher_open02 img {
  mix-blend-mode: plus-lighter;
}
.pitcher_open03 {
  position: absolute;
  top: -10%;
  left: -88%;
  z-index: 101 !important;
  mix-blend-mode: plus-lighter;
}
.pitcher_open03 img {
  mix-blend-mode: plus-lighter;
}
.pitcher_open04 {
  position: absolute;
  top: -10%;
  left: -88%;
  z-index: 101 !important;
  mix-blend-mode: plus-lighter;
}
.pitcher_open04 img {
  mix-blend-mode: plus-lighter;
}
.pitcher_open {
  position: absolute;
  top: -43%;
  left: -102%;
  width: 474px;
  height: 427px;
  z-index: 99;
  mix-blend-mode: plus-lighter;
}
.shake {
  animation: shake 1.2s linear;
  animation-fill-mode: forwards;
}
@keyframes shake {
  0% {
    transform: scale(1);
    transform: scale3d(1, 1, 1);
  }
  6% {
    transform: scale(.9) rotate(-8deg);
    transform: scale3d(1, 1, 1) rotate(0, 0, 1, -8deg);
  }
  18%, 30%, 42% {
    transform: scale(1.1) rotate(8deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 8deg);
  }
  12%, 24%, 36%, 48% {
    transform: scale(1.1) rotate(-8deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -8deg);
  }
  54% {
    transform: scale(1);
    transform: scale3d(1, 1, 1);
  }
  60% {
    transform: scale(1);
    transform: scale3d(1, 1, 1);
  }
  70% {
    transform: scale(1) translate(0px, 150px);
    transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0);
  }
}
@keyframes scaleDraw { /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
  0% {
    transform: scale(1.5); /*开始为原始大小*/
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(560deg);
  }
}
@keyframes rotate01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate02 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
select {
  font-family: 微軟正黑體;
  padding: 5px;
  width: 250px;
}
.server_select {
  top: 64%;
  left: 482px;
  padding-left: 65px;
  border: 2px solid #2e2e2e;
  border-radius: 8px;
  position: relative;
}
.btn_start {
  position: absolute;
  margin-top: 63%;
  margin-left: 39%;
}
h2 {
  font-size: 16px;
  color: #ffca7d;
  line-height: 13px;
  margin-left: 41px;
}
@keyframes char01 {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  50% {
    transform: rotate(-2deg);
    transform-origin: 50% 100%;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
}
.pileup {
  position: absolute;
  height: 400px;
  margin-top: 45%;
  margin-left: 17.5%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  z-index: 1000;
}
li.pil01 {
  list-style-type: none;
}
.pi {
  margin-top: 10%;
}
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/*----progress進度條----*/
.animated-progress {
  width: 226px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
  top: -5.5%;
  left: 0%;
  height: 14px;
  z-index: 99;
  border: 2px solid #000000;
}
.animated-progress span {
  height: 100%;
  display: block;
  width: 0;
  color: rgb(255, 251, 251);
  line-height: 15px;
  font-size: 13px;
  font-weight: bold;
}
.progress-green span {
  background-color: #ff3ded;
  background-size: 1rem 1rem;
  text-align: center;
}
@keyframes Shakelf {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  50% {
    transform: rotate(-2deg);
    transform-origin: 50% 100%;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
}
a.gift span {
  display: none;
  background-color: rgb(93 47 0 / 84%);
  margin-left: -193%;
  margin-top: -68px;
  color: #ffffff;
  width: 265px;
  font-size: 15px;
  position: absolute;
  padding: 7px;
  z-index: 99;
}
a.gift span p {
  line-height: 22px;
}
a.gift:hover span {
  display: inline;
  line-height: 0px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
  z-index: 99;
}
.love {
  margin-top: 8%;
  left: 240px;
  z-index: 1;
  position: absolute;
  animation: bounce-out-down 1.5s forwards;
}
.bounce-out-down {
  animation: bounce-out-down 2s ease forwards;
}
ul.Props {
  width: 290px;
  height: 410px;
  margin: 0% auto;
  overflow: auto;
  padding: 0;
}
li.award01 {
  color: #f5b700;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  background-color: #193169;
  margin-top: 4px;
}
li.award02 {
  color: #58e9ff;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 4px;
}
li.award03 {
  color: #fff04d;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  background-color: #005d9a;
  margin-top: 4px;
}
li.award04 {
  color: #d6fff8;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  margin-top: 4px;
}
li.award {
  color: #fff798;
  font-size: 17px;
  font-weight: bold;
  margin: 4px auto;
}
.award01 strong {
  color: #fff3c0;
  font-size: 13px;
  font-weight: bold;
  line-height: 11px;
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
}
.award02 strong {
  color: #fff3c0;
  font-size: 13px;
  font-weight: bold;
  line-height: 11px;
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
}
.tim_01 {
  background-color: #820000;
  position: absolute;
  margin-top: 0%;
  margin-left: -75%;
  width: 166px;
  height: 50px;
  text-align: center;
  padding-top: 5px;
  border: 2px solid #200000a3;
  border-radius: 15px;
  color: bisque;
  font-weight: bold;
  line-height: 3px;
}
.tim_02 {
  background-color: #820000;
  position: absolute;
  margin-top: 0%;
  margin-left: 93%;
  width: 166px;
  height: 50px;
  text-align: center;
  padding-top: 5px;
  border: 2px solid #200000a3;
  border-radius: 15px;
  color: bisque;
  font-weight: bold;
  line-height: 3px;
}
h6 {
  font-size: 16px;
  color: #ffa36a;
}
.date {
  text-align: center;
  font-size: 25px;
  color: #ffa100;
  font-weight: bold;
  margin-left: -21%;
  margin-top: 4%;
}
#style-3::-webkit-scrollbar-track {
  background-color: #FFF6D7;
}
#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}
#style-3::-webkit-scrollbar-thumb {
  background-color: #5ccfff;
  border-radius: 20px;
}
.pil00 {
  width: 130px;
  height: 130px;
  z-index: 1;
  position: absolute;
  margin-top: 47%;
}
ul.tabs {
  display: inline-flex;
  margin-bottom: 4%;
  margin-left: 18%;
  margin-top: -1%;
}
/*---------------------------
	 數量
----------------------------*/
.point01 {
  width: 60px;
  top: 165px;
  left: 122px;
  text-align: right;
  font-size: 36px;
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  /*-- text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;-*/
}
.point02 {
  width: 60px;
  top: 279px;
  left: 200px;
  text-align: center;
  font-size: 31px;
  color: #ffa042;
  font-weight: bold;
  position: absolute;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.point03 {
  width: 60px;
  top: 401px;
  left: 200px;
  text-align: center;
  font-size: 31px;
  color: #ffa042;
  font-weight: bold;
  position: absolute;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.point04 {
  width: 60px;
  top: 443px;
  left: 200px;
  text-align: center;
  font-size: 31px;
  color: #75fff7;
  font-weight: bold;
  position: absolute;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.point08 {
  width: 60px;
  left: 30%;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  position: absolute;
}
/*---------------------------
	 按鈕
----------------------------*/
.getprops {
  display: inline-block;
  position: fixed;
  margin-top: -28%;
  left: 81.5%;
  width: 340px;
  height: 552px;
  background-repeat: no-repeat;
  padding-top: 2%;
  background-image: url(../images/getprops.png);
}
.result {
  display: inline-block;
  position: relative;
  top: -26%;
  left: -50%;
  width: 367px;
  height: 581px;
  background-image: url(../images/result.png);
  background-repeat: no-repeat;
}
/*第一批按鈕*/
.menu .btn_1 {
  margin-left: -7%;
  margin-top: 30%;
}
.menu .btn_1 li {
  margin-bottom: 42px;
}
.menu .btn_1 li a {
  margin: -10px auto;
  width: 300px;
  height: 90px;
  display: block;
  position: relative;
  transition-duration: 1.5s;
  -webkit-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
}
.menu .btn_1 li.btn01 {
  height: 90px;
  display: block;
  position: relative;
  background-image: url(../images/btn04.png);
  background-repeat: no-repeat;
  margin-left: 30px;
}
.menu .btn_1 li.btn02 a {
  background: url(../images/btn01.png);
}
.menu .btn_1 li.btn03 a {
  background: url(../images/btn02.png);
}
.menu .btn_1 li.btn04 a {
  background: url(../images/btn03.png);
}
.menu .btn_1 li.btn05 a {
  background: url(../images/btn00.png);
}
.menu .btn_1 li.btn06 a {
  background: url(../images/btn05.png);
}
.menu .btn_1 li.btn02 a:hover, .menu .btn_1 li.btn03 a:hover, .menu .btn_1 li.btn04 a:hover, .menu .btn_1 li.btn05 a:hover, .menu .btn_1 li.btn06 a:hover, .btn_start:hover, .btn07 a:hover, .btn08 a:hover, .btn10 a:hover {
  -webkit-filter: brightness(1.05);
  filter: brightness(1.05);
}
a:hover {
  -webkit-filter: brightness(1.6);
  filter: brightness(1.6);
}
/*---------------------------
	 福袋
----------------------------*/
.small_box {
  left: 100px;
  top: -8%;
  width: 670px;
  height: 500px;
  position: relative;
}
.box {
  background: url(../images/box.png);
  position: absolute;
  margin-top: -16%;
  margin-left: -19%;
}
.btn08 a {
  background: url(../images/btn08.png);
  width: 94px;
  height: 27px;
  position: relative;
  top: -30px;
  left: 21px;
  display: block;
}
.btn09 {
  background: url(../images/btn09.png);
  width: 94px;
  height: 27px;
  position: relative;
  top: -30px;
  left: 21px;
}
.bag_qty {
  width: 190px;
  height: 800px;
  top: 1104px;
  left: 870px;
  text-align: center;
  font-size: 19px;
  font-size: 24px;
  color: #FFF;
  font-weight: bold;
  position: absolute;
}
.btn10 a {
  background: url(../images/btn10.png);
  width: 154px;
  height: 48px;
  position: relative;
  top: 15px;
  left: 20px;
  display: block;
}
.btn11 a {
  background: url(../images/btn10.png);
  width: 154px;
  height: 48px;
  position: relative;
  top: 15px;
  left: 20px;
  display: block;
}
.btn07 a {
  background: url(../images/btn07.png);
  width: 230px;
  height: 70px;
  position: relative;
  top: 19px;
  left: -16px;
  display: block;
}
.btn11 {
  margin-top: 21%;
}
.title {
  position: absolute;
  z-index: 1;
  margin-top: -26%;
  margin-left: 34%;
}
.btn10 {
  margin-bottom: 29px;
}
/* ===scroll=== */
/*::-webkit-scrollbar {
 width: 5px;
}
::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
 background: rgba(0,0,0,0.0);
 border-radius: 10px;
}

::-webkit-scrollbar-thumb {
 border-radius: 10px;
 -webkit-box-shadow: inset 1px 1px 6px 2px rgba(255,255,255,0.9);
}*/
/*---------------------------
	FOOTER
----------------------------*/
#footer {
  margin-top: -65px;
  width: 100%;
  height: 80 px;
  color: #fff;
  font-size: 12px;
  height: 100px;
  background: #000000;
  padding-top: 11px;
}
#footer_mb {
  display: none;
}
#footer p {
  margin: 0 auto;
}
.copyright {
  margin: 0 auto;
  position: relative;
}
.copyright table {
  margin: 0 auto 0 auto
}
.copyright table td {
  padding-right: 20px;
}
.copyright .about {
  line-height: 20px;
}
.copyright table span {
  color: #fff;
}
.copyright table .t {
  padding-left: 0;
  font-size: 11px;
  line-height: 15px;
}
/*---------------------------
	IE提示
----------------------------*/
#alert-ie8 {
  background: rgba(0, 0, 0, 0.6);
  background: url(../images/bg.png)\0;
  clear: both;
  display: block;
  font-size: 15px;
  height: 20px;
  letter-spacing: 1px;
  padding: 5px;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 1000;
  left: 50%;
  margin-left: -50%;
  color: #FFF;
}
#alert-ie8 a:link, #alert-ie8 a:visited {
  color: #FC3;
}
#alert-ie8 a:hover {
  color: #FF0;
}
#alert-ie8 strong {
  color: #F00;
}
/*-gameinner/slider-*/
.slider {
  margin: -12% auto;
  padding: 0;
}
.owl-theme .owl-dots .owl-dot span {
  margin: 25px 4px;
  width: 59px;
  height: 12px;
  background: #b1adae;
  transition: .5s;
  z-index: 1;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #535561;
}
.owl-nav {
  width: 100%;
  transform: translateY(-50%);
}
.owl-prev:hover, .owl-next:hover {
  opacity: 1;
}
.owl-prev {
  display: block;
  left: 10%;
  background: url(../images/prev_prev.png) no-repeat;
  position: absolute;
  margin-top: 10%;
  width: 50px;
  height: 50px;
}
.owl-next {
  background: url(../images/prev_next.png) no-repeat;
  position: absolute;
  margin-top: 10%;
  width: 50px;
  height: 50px;
  left: 55%;
}
.Ranking {
  margin: 0 5px;
}
li.rank01 {
  display: inline-flex;
  flex-wrap: wrap;
  background-color: #691d08bd;
  border-radius: 20px;
  border: 1px solid #000000;
  margin: 1px auto;
}
li.rank01 strong {
  color: #ffc052;
  font-size: 13px;
  line-height: 27px;
}
.TOP {
  font-size: 18px;
  color: #ffde04;
  margin: 3px 6px;
  font-weight: bold;
}
.name {
  font-size: 13px;
  line-height: 26px;
  margin-left: 5px;
  margin-right: 14px;
}
ul.rank {
  text-align: center;
  padding: 0;
  width: 77%;
}
.Props {
  margin-left: 20%;
  margin-right: 20%;
  line-height: 25px;
  color: #ffdd96;
}
@keyframes seesaw {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 15px;
  }
  100% {
    margin-top: 0px;
  }
}
@keyframes seesaw02 {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 80px;
  }
  100% {
    margin-top: 0px;
  }
}
/*---lantern02---*/
@keyframes glow {
  0% {
    filter: brightness(1.6)drop-shadow(0px 0px 12px rgba(186, 124, 255, 1.00));
    -webkit-filter: brightness(1.6)drop-shadow(0px 0px 12px rgba(186, 124, 255, 1.00));
    -moz--filter: brightness(1.6)drop-shadow(0px 0px 12px rgba(186, 124, 255, 1.00));
  }
  50% {
    filter: brightness(1)drop-shadow(0px 0px 4px rgba(186, 124, 255, 1.00));
    -webkit-filter: brightness(1)drop-shadow(0px 0px 4px rgba(186, 124, 255, 1.00));
    -moz--filter: brightness(1)drop-shadow(0px 0px 4px rgba(186, 124, 255, 1.00));
  }
  100% {
    filter: brightness(1.6)drop-shadow(0px 0px 12px rgba(186, 124, 255, 1.00));
    -webkit-filter: brightness(1.6)drop-shadow(0px 0px 12px rgba(186, 124, 255, 1.00));
    -moz--filter: brightness(1.6)drop-shadow(0px 0px 12px rgba(186, 124, 255, 1.00));
  }
}
@-webkit-keyframes glow {
  0% {
    filter: brightness(1.6)drop-shadow(0px 0px 12px rgba(186, 124, 255, 1.00));
    -webkit-filter: brightness(1.6)drop-shadow(0px 0px 12px rgba(186, 124, 255, 1.00));
    -moz--filter: brightness(1.6)drop-shadow(0px 0px 12px rgba(186, 124, 255, 1.00));
  }
  50% {
    filter: brightness(1)drop-shadow(0px 0px 4px rgba(186, 124, 255, 1.00));
    -webkit-filter: brightness(1)drop-shadow(0px 0px 4px rgba(186, 124, 255, 1.00));
    -moz--filter: brightness(1)drop-shadow(0px 0px 4px rgba(186, 124, 255, 1.00));
  }
  100% {
    filter: brightness(1.6)drop-shadow(0px 0px 12px rgba(186, 124, 255, 1.00));
    -webkit-filter: brightness(1.6)drop-shadow(0px 0px 12px rgba(186, 124, 255, 1.00));
    -moz--filter: brightness(1.6)drop-shadow(0px 0px 12px rgba(186, 124, 255, 1.00));
  }
}
@-moz-keyframes glow {
  0% {
    filter: brightness(1.6)drop-shadow(0px 0px 12px rgba(186, 124, 255, 1.00));
    -webkit-filter: brightness(1.6)drop-shadow(0px 0px 12px rgba(186, 124, 255, 1.00));
    -moz--filter: brightness(1.6)drop-shadow(0px 0px 12px rgba(186, 124, 255, 1.00));
  }
  50% {
    filter: brightness(1)drop-shadow(0px 0px 4px rgba(186, 124, 255, 1.00));
    -webkit-filter: brightness(1)drop-shadow(0px 0px 4px rgba(186, 124, 255, 1.00));
    -moz--filter: brightness(1)drop-shadow(0px 0px 4px rgba(186, 124, 255, 1.00));
  }
  100% {
    filter: brightness(1.6)drop-shadow(0px 0px 12px rgba(186, 124, 255, 1.00));
    -webkit-filter: brightness(1.6)drop-shadow(0px 0px 12px rgba(186, 124, 255, 1.00));
    -moz--filter: brightness(1.6)drop-shadow(0px 0px 12px rgba(186, 124, 255, 1.00));
  }
}

@media screen and (max-width: 960px) {
	  .getprops {
    left: 9%;
   margin-top: 170%;
    position: relative;
    padding-top: 35px;
  }
  .button {
    margin-top: 8%;
    z-index: 999;
    flex-wrap: nowrap;
  }
  .slogan {
    margin-top: 100%;
    margin-left: 0%;
  }
  .slogan img {
    width: 94%;
  }
  .btn01 img {
    width: 93%;
  }
  .throw img {
    width: 60%;
  }
  .throw {
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 19px;
    background-size: 100%;
    margin-top: 17%;
    position: absolute;
    width: 172px;
    margin-left: 4%;
  }
  .throw strong {
    color: #ffd552;
    font-size: 13px;
    margin-top: -11%;
    display: contents;
  }
  .lucky {
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 19px;
    background-size: 100%;
    margin-top: 17%;
    position: absolute;
    width: 172px;
    margin-left: 53%;
  }
  .lucky strong {
    color: #ffd552;
    font-size: 13px;
    margin-top: -11%;
    display: contents;
  }
  .lucky img {
    width: 60%;
  }
  .btn02 img {
    width: 93%;
  }
  .pitcher {
    top: 23%;
    position: absolute;
    animation: seesaw ease-in-out 1.5s infinite;
    left: -70%;
  }
  .pitcher img {
    width: 91%;
        margin-left: 42%;
  }
  .blow {
  top: 23%;
    position: absolute;
    animation: seesaw ease-in-out 1.5s infinite;
    left: -70%;
  }
  .blow img {
     width: 91%;
         margin-left: 42%;
  }
	.pitcher_effects {
    position: absolute;
    z-index: 100000;
    margin-left: -191%;
    margin-top: -54%;
}
  .pileup {
    margin-top: 214%;
    margin-left: -13.5%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  li.pil01 {
    list-style-type: none;
    margin-top: 24%;
  }
  .box {
    margin-top: -22%;
    margin-left: -24%;
  }
  .award_mercy {
    position: absolute;
    width: 230px;
    background-size: 80%;
    margin-top: 187%;
    z-index: 1;
    width: 43%;
    margin-left: 7%;
    background-repeat: no-repeat;
    z-index: 9999;
  }
  .award_mercy02 {
    position: absolute;
    width: 230px;
    background-size: 80%;
    margin-top: 187%;
    z-index: 1;
    width: 43%;
    margin-left: 54%;
    background-repeat: no-repeat;
    z-index: 9999;
  }
  a.but03 {
    margin-top: 49%;
    margin-left: -68%;
  }
  a.but04 {
    margin-top: 49%;
    margin-left: -68%;
  }
  .award_mercy img {
    width: 69%;
    margin-left: -18%;
    margin-top: -7%;
  }
  .award_mercy02 img {
    width: 69%;
    margin-left: -18%;
    margin-top: -7%;
  }
  .animated-progress {
    width: 151px;
  }
  .mercy_top {
    height: 49px;
    text-align: center;
    padding-top: -1px;
    font-size: 15px;
    font-weight: bold;
    color: #ffb700;
    line-height: 38px;
    width: 78%;
  }
  .mercy_top strong {
    color: #FFF7D1;
    font-size: 17px;
  }
  .notice {
    position: relative;
    display: inline-block;
    margin-top: 171%;
    width: 95%;
    margin-left: 0%;
    color: #ffe9b0;
    line-height: 22px;
    font-weight: 700;
    font-size: 14px;
    z-index: 999;
  }
  h2 {
    font-size: 11px;
    color: #ffca7d;
    line-height: 13px;
    margin-left: 41px;
  }
  .button_btn {
    position: fixed;
    margin-top: 71.5%;
    margin-left: 73%;
    z-index: 10000;
  }
  .logo {
    left: 217px;
    background-size: 65%;
    background-repeat: no-repeat;	  
  }
  .topup {
    position: fixed;
    margin-top: 43%;
    margin-left: 73%;
    z-index: 10000;
    text-align: center;
  }
  .topup img {
    width: 100%;
  }
  .btn_btn01 img {
    width: 100%;
  }
  .btn_btn02 img {
    width: 100%;
  }
  .btn_btn01 {
    margin: 3px auto;
  }
  #footer {
    display: none;
  }
  #footer_mb {
    display: block;
  }
  td.about_mb {
    color: #ffdf8e;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
  }
}
