* {
  /*border: 1px solid #f7f7f7;*/
  font-family: 微軟正黑體;
}
html, body {
  box-sizing: border-box;
  position: relative;
  margin: 0px auto;
  background: url(../images/bg.jpg) no-repeat center top #2d0a01;
  overflow-x: hidden;
}
/*----Wrap----*/
.wrap {
  max-width: 1200px;
  position: relative;
  margin: 0px auto;
  overflow: hidden;
}
video {
  display: block;
  height: 100%;
  margin: 0 auto;
  margin-top: -2%;
  margin-left: 0%;
}
/*----Logo----*/
.logo {
  position: absolute;
  margin: 0% 5%;
  width: 14%;
  z-index: 99;
}
.logo img {
  margin-top: 11%;
  width: 165%;
}
.logo a:hover {
  position: relative;
  top: -3px;
}
/*----Slogan----*/
.slogan {
  position: relative;
  margin-top: -43.5%;
  width: 53%;
  margin-left: 10%;
}
.slogan img {
  width: 100%;
}
.txt {
  position: relative;
  margin-top: -4.5%;
  margin-left: 15%;
  width: 98%;
}
.slogan img {
  width: 100%;
}
.txt img {
  width: 40%;
}
.main {
  margin-top: 32%;
}
.img01 {
  margin-top: 16px;
}
@keyframes 100% {
  opacity: 1;
  top: 0;
}
}
@keyframes 50% {
  transform: rotate(-2deg);
  ` transform-origin: 30% 100%;
}
100% {
  transform: rotate(0deg);
  transform-origin: 30% 100%;
}
}
@keyframes Leftslide {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes 100% {
  opacity: 1;
  top: 0;
}
}
@keyframes 50% {
  transform: rotate(-2deg);
  transform-origin: 30% 100%;
}
100% {
  transform: rotate(0deg);
  transform-origin: 30% 100%;
}
}
@keyframes Topslide {
  0% {
    opacity: 0;
    top: -50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes Bottomslide {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes Rightslide {
  0% {
    opacity: 0;
    left: -50px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
/*----Menu----*/
.menu {
  position: absolute;
  width: 100%;
  margin-left: -2%;
  margin-top: 43%;
  z-index: 99;
  text-align: center;
}
.menu img {
  width: 90%;
}
.btn {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  list-style-type: none;
  transition: 0.3s;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
  -webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
  -moz-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
}
.img a:hover {
  filter: brightness(1.2)drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
  -webkit-filter: brightness(1.2)drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
  -moz-filter: brightness(1.2)drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
}
.btn:hover {
  filter: brightness(1.2)drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
  -webkit-filter: brightness(1.2)drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
  -moz-filter: brightness(1.2)drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
}
.btn.active {
  filter: sepia(0.6)drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
  -webkit-filter: sepia(0.6)drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
  -moz-filter: sepia(0.6)drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
}
/*----Content----*/
.content {
  position: relative;
  border: 1px solid #684225;
  padding: 1.5%;
  margin: 2% auto;
  width: 80%;
  background: rgb(20 6 4 / 70%);
  color: #180d07;
  box-shadow: 0px 0px 40px 0px rgb(50 10 8);
  padding-bottom: 50px;
  margin-top: 4%;
  z-index: 99;
}
.img {
  text-align: center;
  margin-top: 22px;
}
.abgne_tab ul li {
  border: 1px solid #8c563c;
  padding: 8px;
  margin-right: -9px;
  outline: none;
  cursor: pointer;
  width: 19%;
  background: #a73f20;
  font-family: 微軟正黑體;
  font-size: 18px;
  fony-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  float: left;
  transition: 0.3s;
  list-style-type: none;
}
.abgne_tab a {
  text-decoration: none;
  color: #ffffff;
}
.abgne_tab ul li:hover, .abgne_tab .active {
  background: #ce815a;
}
.tabs, .tabs2, .tabs4, .tabs5, .tabs6, .tabs7, .tabs8, .tabs9, .tabs10, .tabs11 {
  margin-left: auto;
  margin-right: auto;
}
div#tab9 {
  height: 800px;
}
.tab_container {
  padding: 2.5%;
  clear: left;
}
h2 {
  padding: 0% 2.5%;
  font-weight: bold;
  color: #fff8a5;
  text-align: center;
  font-size: 40px;
}
h1 {
  font-size: 18px;
  color: #FFD0A3;
  margin-left: 20px;
}
h4 {
  color: #ffecb2;
  font-size: 15px;
  line-height: 21px;
  margin-left: 38px;
  text-align: justify;
}
h5 {
  color: #ffc950;
  text-align: center;
  font-size: 26px;
  font-weight: normal;
}
h3 {
  color: #F8D356;
  margin-left: 20px;
}
h6 {
  color: #fbe9a8;
  font-size: 42px;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
}
h6 strong {
  font-size: 62px;
  color: rgb(255, 150, 9);
}
.mark {
  font-weight: bold;
  color: #f7212a;
  text-align: center;
}
.demo {
  font-weight: bold;
  color: #f7212a;
}
.link {
  color: #0000ff;
  font-weight: bold;
}
.link:hover {
  color: #f7212a;
  font-weight: bold;
}
.link active {
  color: #0000ff;
  font-weight: bold;
}
.content p {
  font-size: 16px;
  color: #ffe9db;
  font-weight: bold;
  margin-left: 40px;
  line-height: 20px;
}
.content ul li {
  font-size: 16px;
  line-height: 30px;
  color: #f9d9ae;
  margin-left: 3%;
  margin-top: 10px;
}
.content ol li {
  font-size: 15px;
  color: rgb(254 234 205);
  line-height: 32px;
}
.char01 {
  position: absolute;
  margin-left: -6%;
  margin-top: 16%;
  z-index: 1;
}
.char02 {
  position: absolute;
  margin-left: 69%;
  margin-top: 16%;
  z-index: 1;
}
.icon {
  position: absolute;
  margin-left: 19%;
  margin-top: -2.5%;
}
/* ---- particles.js container ---- */
#particles-js {
  width: 100%;
  height: 1080px;
  position: absolute;
  margin-top: 0%;
}
canvas {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: static;
}
.tit {
  border: 1px solid #b8efff;
  padding: 10px 50px;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  background: rgb(43 103 107);
  transition: 0.5s;
  margin: -3% auto;
  max-width: 255px;
  cursor: pointer;
  text-align: center;
}
.tit {
  color: #0793C0;
  background: rgba(0, 0, 0, .5);
}
/*----Table----*/
table {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 96%;
  margin: 1% auto;
}
table tr:first-child td {
  font-size: 15px;
  font-weight: bold;
  color: #680707;
  background-color: #fde0cd;
}
table td {
  border: 1px solid #9e734d;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 36px;
  color: #522826;
  background-color: #fff4ed;
  vertical-align: middle;
}
table.table {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  background: #c5a283
}
table tr td img {
  margin-top: 10px;
}
/*----footer----*/
footer {
  position: relative;
  padding: 40px 0 30px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  letter-spacing: .2px;
  line-height: 18px;
  background: #000000;
  margin-top: 5%;
}
footer .store {
  margin-bottom: 25px;
}
footer .store a {
  border-radius: 0;
  margin: 0 -2px;
  background: none;
}
footer p {
  margin: 3px auto;
  opacity: .6;
  font-size: 15px;
}
footer .copyright img {
  margin-right: 5px;
}
.pw {
  opacity: .6;
}
footer .grading img {
  display: inline-block;
  margin-right: -17px;
  vertical-align: middle;
  width: 2%;
}
footer ul {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  opacity: .6;
}
/*----Go Top----*/
.gotop {
  position: fixed;
  width: 100px;
  height: 106px;
  top: 88%;
  background: url(../images/top_icon.png) no-repeat center top;
  cursor: pointer;
  z-index: 99;
  right: 16%;
}
.gotop:hover {
  filter: brightness(1.7);
}
@media screen and (max-width: 1800px) {
  .slogan {
    margin-top: -59.5%;
  }
}
@media screen and (max-width: 1400px) {
  .content {
    margin-top: -32%;
  }
  .gotop {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  html, body {
    background-image: url(../images/bg_m.jpg);
    overflow-x: hidden;
    background-color: #0F0400;
  }
  .menu {
    margin-left: -4%;
    margin-top: 96%;
  }
  .main {
    margin-top: 31%;
  }
  .slogan {
    margin-top: 19%;
  }
  video {
    display: none;
  }
  .menu img {
    width: 100%;
  }
  li.btn {
    margin-left: 1%;
  }
  .char01 {
    display: none;
  }
  .char02 {
    display: none;
  }
  h4 {
    color: #ffecb2;
    font-size: 25px;
    line-height: 38px;
    margin-left: 2px;
    text-align: justify;
  }
  #footer {
    margin-top: 20%;
  }
  .logo {
    margin: 5% 0%;
    width: 23%;
  }
}
@media screen and (min-width:768px) and (max-width:1024px) {
  .slogan {
    width: 67% !important;
    margin-top: 75% !important;
    margin-left: 22% !important;
  }
  .main {
    margin-top: 110% !important;
  }
}
@media screen and (max-width: 1140px) {
  html, body {
    background-position: 60% 0%;
  }
}
@media screen and (max-width: 960px) {
  html, body {
    background-position: 63% 0%;
  }
  .menu {
    width: 100%;
  }
  .tab_container {
    padding: 0%;
  }
  .content p {
    color: #ffe9db;
    margin-left: 6px;
    line-height: 30px;
    font-weight: normal;
    text-align: justify;
  }
  .content ol li {
    font-size: 28px;
    color: rgb(254 234 205);
    line-height: 39px;
    margin-left: -1%;
    text-align: justify;
  }
  footer p {
    margin: 3px auto;
    opacity: .6;
  }
  h3 {
    color: #ffdd63;
    margin-left: auto;
    font-size: 35px;
  }
  .icon {
    margin-left: 47%;
    margin-top: -5.5%;
  }
  .txt {
    position: relative;
    margin-top: -15.5%;
    margin-left: -4%;
  }
  .txt img {
    width: 105%;
  }
  #footer {
    display: none;
  }
  #footer_sp {
    display: block;
    margin-top: 50px;
    padding: 10px 10px;
    background: #f06200;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
  }
  #footer_sp ul {
    list-style: none;
    margin-left: -40px;
  }
  .top {
    display: none;
  }
  .main {
    margin-top: 67%;
  }
  footer .grading img {
    width: 9%;
  }
}
@media screen and (max-width: 800px) {
  html, body {
    background-image: url(../images/bg_m.jpg);
    background-position: 80% 0%;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .logo {
    width: 25%;
  }
  .slogan {
    margin: 78% auto 5% auto;
    width: 100%;
  }
  .logo {
    width: 30%;
  }
  .menu {
    text-align: center;
    margin-left: -10%;
    margin-top: 126%;
    display: inline-flex;
    flex-wrap: nowrap;
  }
  .btn img {
    width: 97%;
  }
  .content {
    width: 89%;
  }
  .content img {
    width: 80%;
    height: 80%;
  }
  .Precautions {
    display: none;
  }
  .btn {
    margin-left: -16%;
  }
  .tabs, .tabs2, .tabs3, .tabs4, .tabs5, .tabs6, .tabs7, .tabs8, .tabs9 {
    margin-left: -9%;
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  h6 {
    font-size: 24px;
  }
  h6 strong {
    font-size: 36px;
  }
  .content ul li {
    font-size: 19px;
    width: auto;
    line-height: normal;
    padding: 15px;
  }
  footer .copyright img {
    width: 22%;
  }
}
@media screen and (max-width: 375px) {
  .logo {
    width: 23%;
  }
  .content img {
    width: 100%;
  }
  h2 {
    color: #fff8a5;
    margin-top: 3%;
  }
  .gotop {
    display: none !important;
  }
  .content p {
    margin-left: 20px;
  }
}
/*----Animation----*/
@keyframes slogan {
  0% {
    top: 0px;
  }
  50% {
    top: 25px;
  }
  100% {
    top: 0px;
  }
}
@-webkit-keyframes slogan {
  0% {
    top: 0px;
  }
  50% {
    top: 25px;
  }
  100% {
    top: 0px;
  }
}
@-moz-keyframes slogan {
  0% {
    top: 0px;
  }
  50% {
    top: 25px;
  }
  100% {
    top: 0px;
  }
}
.Precautions {
  position: absolute;
  top: 75%;
  left: 128%;
  margin-left: -400px;
}
.Precautions a img:hover {
  animation: bounce .3s ease-in-out
}