* {
  font-family: Arial, 微軟正黑體, sans-serif;
}
table {
  border-spacing: 0;
  border-collapse: separate;
}
html, body {
    overflow-x: hidden;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-color: #7a1200;
    height: 100%;
    width: 100%;
    background-image: url(../images/bg.jpg);
}
a:hover {
  filter: brightness(1.3);
  -webkit-filter: brightness(1.3);
  -moz-filter: brightness(1.3);
}
.btn a:hover {
  filter: brightness(1.3);
  -webkit-filter: brightness(1.3);
  -moz-filter: brightness(1.3);
  animation: bRTaPl 1.5s forwards, uvIwZ ease-in-out 2s infinite;
}
.nav_toggle {
    position: fixed;
    left: 238px;
    top: 50%;
    margin-top: -62px;
    width: 62px;
    height: 124px;
    background: transparent url(../images/nav_toggle2.png) no-repeat -62px 0;
    cursor: pointer;
    z-index: 11
}

.nav_toggle.hide {
    background-position: 0 0
}

.nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 240px;
    height: 100%;
    background: transparent url(../images/nav_bg.png) repeat-y 0 0;
    z-index: 10
}

.nav.hide {
    left: -186px
}

.nav .happyoz {
    padding-top: 35px
}

.nav .naver {
    padding-top: 60px
}

.nav .tooni {
    padding-top: 54px
}

.nav .picaon {
    padding-top: 49px
}

.nav .logo {
    margin: 20px auto 0;
    width: 180px;
    height: 115px;
    background: transparent url(../images/nav_logo.png) no-repeat 0 0
}

.nav .logo_update {
    margin-top: 20px;
    height: 170px;
    background: transparent url(../images/nav_logo_update.png) no-repeat 0 0
}

.nav ul {
    margin: 40px 0 0 15px;
    width: 204px;
    height: auto
}

.nav ul li {
    margin-bottom: 13px;
    height: 46px;
    background: transparent url(../images/nav_tab.png) no-repeat;
    text-indent: -9999px;
    cursor: pointer
}

.nav ul li:first-child {
    margin-bottom: 18px;
    height: 31px;
    background: transparent url(../images/nav_tab_title.png) no-repeat center 0
}

.nav ul li.on, .nav ul li:hover {
    background-position-x: -204px
}

.nav ul.update li:first-child {
    background-position: center 0!important
}

.nav ul.update li:first-child+li {
    background-position-y: 0
}

.nav ul.update li:first-child+li+li {
    background-position-y: -46px
}

.nav ul.update li:first-child+li+li+li {
    background-position-y: -92px
}

.nav ul.update li:first-child+li+li+li+li {
    background-position-y: -138px
}

.nav ul.event {
    margin-top: 35px
}

.nav ul.event li:first-child {
    background-position: center -31px!important;
    cursor: default
}

.nav ul.event li:first-child+li {
    background-position-y: -184px
}

.nav ul.event li:first-child+li+li {
    background-position-y: -230px
}

.nav .nav_footer {
    margin-top: 80px;
    padding-top: 44px;
    padding-bottom: 0px;
    width: 240px;
    height: 36px;
    background: transparent url(../images/nav_footer.png) no-repeat center 0;
    text-align: center;
    font: 10px/14px Tahoma, "돋움", sans-seirf;
    letter-spacing: -.05em;
    color: #954e2a
}

@keyframes bRTaPl {
  //动画规则
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(3px, 15px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
#flag {
  position: absolute;
  left: 50%;
  top: 50%;
  animation: flag-reverse ease-in-out infinite;
}
@keyframes bRTaPl {
  //动画规则
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(5px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes uvIwZ {
  //动画规则
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(6px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes waveCircle {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  10% {
    transform: scale(0.1);
    opacity: 0.1;
  }
  20% {
    transform: scale(0.2);
    opacity: 0.2;
  }
  30% {
    transform: scale(0.3);
    opacity: 0.3;
  }
  75% {
    transform: scale(0.6);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.btn.open, .nav_mob, .game_mob {
  display: none;
}
.slogan_s {
  display: none;
}
.mob {
  display: none;
}
/*----mob_menu----*/
.btn .open {
  display: none;
}
/*----mob_footer----*/
.fot_mob {
  display: none;
}
/*----Header----*/
header {
  position: relative;
  width: 100%;
  height: 940px;
}
.logo_s {
  display: none;
}
.cake {
  position: absolute;
  margin-left: 0%;
  margin-top: 17%;
}
.cake img {
  animation: op ease-in-out .8s forwards;
}
@keyframes right2 {
  from {
    opacity: 0;
    left: 12px;
  }
  to {
    opacity: 1;
    left: 112px;
  }
}
@keyframes fly {
  0% {
    margin-top: -10px;
  }
  50% {
    margin-top: 0px;
  }
  100% {
    margin-top: -10px;
  }
}
.btn_update {
  position: absolute;
  left: 445px;
  top: 700px;
  animation: balloon ease-in-out 2s infinite;
  animation-delay: 1s;
}
.btn_update:hover, .btn_lv:hover, .btn_2019:hover {
  &:nth-child(1) {
    animation: 3s ease-in-out 1s infinite normal none running bRTaPl;
  }
  &:nth-child(2) {
    animation: 3s ease-in-out 0.66s infinite normal none running dwSZFG;
  }
  &:nth-child(3) {
    animation: 3s ease-in-out 0.33s infinite normal none running uvIwZ;
  }
}
}
}
@keyframes btn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.04);
  }
}
.btn_dialog {
  position: absolute;
  left: -25%;
  top: 354px;
  cursor: pointer;
}
.btn_lv {
  position: absolute;
  margin-top: -15%;
  right: -6%;
}
.btn_2019 {
  position: absolute;
  right: 80px;
  top: 620px;
  cursor: pointer;
  animation: rabbit ease-in-out 3.5s infinite;
}
/*----Table----*/
.contents table {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 88%;
    margin: 1% auto;
}
.contents table tr:first-child td {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #9f0000;
}
.contents table td {
    border: 1px solid #670000;
    font-size: 15px;
    text-align: center;
    line-height: 6px;
    color: #820000;
/*    background-color: #ffffff;*/
    vertical-align: middle;
}

.contents table.table {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  background: #c5a283
}
.contentst table:first-child td:first-child {
  width: 23%
}

/*.contents table:last-child td:last-child {
  width: 10%
}*/
.format {
  font-size: 14px;
  text-align: left;
  width: 80%;
  font-weight: 700
}
.format td:first-child {
  width: 80px;
  color: #713434
}
h4 {
    color: #63f0ff;
    margin-top: 1%;
}
/*----Wrap----*/
.wrap {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}
.loading video {
  display: block;
  /* height: 100%; */
  /* margin: 0 auto; */
  margin-top: -4.3%;
  margin-left: -0.7%;
}
.loading {
  background-color: #020811;
  height: 100%;
  width: 100%;
  z-index: 9999999999999999;
  margin: 0px;
  padding: 0px;
  position: fixed;
  text-align: center;
  vertical-align: middle;
  left: 0px;
  top: 0px;
  transition: box-shadow 1s ease-in-out;
  overflow-x: none;
}
.logo {
   display: block;
    margin: 10px;
    max-width: 202px;
    margin-left: -26%;
    position: relative;
    z-index: 999999;
}
.logo:hover {
  position: relative;
  top: -3px;
}
.slogan {
         position: absolute;
    max-width: 665px;
    animation: bounceIn 1s both 2.8s;
    margin-left: 20%;
    margin-top: 33%;
    z-index: 1;
}
.slogan img {
  width: 122%;
}
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.btn {
  animation: op ease-in-out .8s forwards;
  opacity: 0;
  cursor: pointer;
  position: relative;
  z-index: 99;
}
@keyframes op {
  from {
    opacity: 0;
    margin: 50px auto 0;
  }
  to {
    opacity: 1;
    margin: 0px auto;
  }
}
@keyframes op01 {
  from {
    opacity: 0;
    margin: 10px auto 0;
  }
  to {
    opacity: 1;
    margin: 0px auto;
  }
}
.btn img a {
  transition: .2s;
}



.btn02 {
    position: absolute;
    margin-top: 35%;
    margin-left: 51%;
    list-style-type: none;
    z-index: 99;
}
.btn02 img:hover, .active {
  animation: bRTaPl 1.5s forwards, uvIwZ ease-in-out 2s infinite;
}
.btn02 img {
  animation: op01 ease-in-out .8s forwards;
}


.img {
  text-align: center;
  margin-top: 15px;
}
.img h1 {
  color: #F60;
  font-size: 15px;
}
/*----act----*/
.box {
   position: relative;
    height: 640px;
    color: #ffffff;
    line-height: 14px;
    margin: 0 auto;
}
.box.mCustomScrollbar a {
  text-align: center;
}
.title {
 position: relative;
    text-align: center;
    margin-top: -89px;
}
.box.mCustomScrollbar img {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.subtitle {
     color: #ffdc6e;
    font-size: 20px;
    font-weight: bold;
}
.button_evt2 {
    text-align: center;
}
.box ol li {
    margin-left: -20px;
    text-align: justify;
    line-height: 35px;
    color: #edf9ff;
}
.select {
  margin: 20px auto;
  text-align: center;
}
select {
  display: block;
  margin: 10px auto;
  padding: 3px;
  width: 250px;
  color: #333;
  font-family: 微軟正黑體;
  font-size: 16px;
  outline: none;
}
.mark {
  margin: 5px auto !important;
  color: #1457de;
  font-size: 15px;
  text-align: center;
}
a.receive, a.go {
  display: inline-block;
  margin-top: 10px;
}
a.view {
  color: #8d30f6;
  font-weight: bold;
  text-decoration: underline;
}
.time {
    position: relative;
    width: 600px;
    height: 85px;
    background-image: url(../images/time.png);
    background-repeat: no-repeat;	
	    margin: 8px auto;
	       display: flex;
}
.time p {
        color: #000000;
    text-align: center;
    width: 100%;
}
.time p strong {
    font-weight: bolder;
    color: #820000;
}
#panel {
    padding: 5px;
    text-align: center;
	color: antiquewhite;
	display:none;
	 margin-left: -9%;
}

#panel li {
    list-style-type: none;
}

/*----Footer----*/

.copyright li {
    line-height: 17px;
}

/*----menu01----*/
#menu01{
        position: fixed;
    top: 25%;
    left: 0%;
    transform: translateY(-45%);
    background-color: rgb(153 0 0 / 80%);
    list-style: none;
    transition: .5s;
    z-index: 2;
    width: 240px;
    height: 1200px;
    padding-top: 52%;
    border-right: 2px double #FF8939;
	 z-index: 9999;
}

#menu01 li{
    margin-left: -9%;
}
#menu01 li.comingsoon a, #menu01 li.comingsoon a:hover{
	text-shadow: none;
	color: rgba(225,255,255,.5) !important;
}
#menu01 li a:hover{
	text-shadow: 0px 0px 10px #3da4fb, 0px 0px 2px #3da4fb;
	transition: .5s;
}
#menu01 li.active {
	text-shadow: 0px 0px 10px #3da4fb, 0px 0px 2px #3da4fb;
	background: linear-gradient(90deg, rgba(64,164,251,0) 5%, rgba(64,164,251,0.3) 35%, rgba(64,164,251,0) 100%); 
}
.unfold{
	       left: -267px !important;
}
.triangle{
       position: absolute;
    padding: 0 20px 0 5px;
    width: 63px;
    height: 152px;
    right: -91px;
    top: 47%;
    background-image: url(../images/triangle_bg.png);
    background-repeat: no-repeat;
}
.triangle img{
	position: absolute;
	top: 30%;
	transform: translateY(-50%);
	transform: scaleX(1);
}
.open img{
	transform: scaleX(-1);
}
.adorn01 {
      position: absolute;
    margin-top: -41%;
    margin-left: 48%;
}
.adorn {
    position: absolute;
    margin-top: 21%;
}
.grade {
   display: flex;
    position: absolute;
    margin-top: 118%;
}

.grade li{
 font-size: 11px;
    color: #ffffff;
    list-style-type: none;
    line-height: 17px;
}
.grade img {
    position: absolute;
    margin-top: 3%;
}
.grade ol {
    margin-left: 6%;
}
.copyright {
  position: absolute;
    margin-top: -27%;
    font-size: 12px;
    color: #fffcf9;
    margin-left: -11%;
    width: 133%;
}
.copyright p {
      line-height: 14px;
}
.pw {
    position: absolute;
    margin-top: -44%;
    margin-left: 23%;
}
/*----Evt menu----*/
#evt {
       width: 51%;
    z-index: 102;
    position: relative;
    text-align: center;
    display: none;
    padding-right: 2%;
    padding-top: 2%;
    height: 165px;
    margin-top: -45%;
    padding-top: -24px;
    margin-left: 23%;
    background-color: #006bb3f0;
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 2);
    box-shadow: -1px 2px 0 rgba(0, 0, 0, 6.4), 0 0 0 rgba(255, 255, 255, .5), inset -4px 3px 20px 1px rgb(0 0 0 / 56%), inset 0px -6px 14px 0px rgb(0 0 0 / 26%);
}
#evt.on {
  display: block;
  animation: fadeInDown ease-in-out 0.4s forwards;
  -webkit-animation: fadeInDown ease-in-out 0.4s forwards;
  -moz-animation: fadeInDown ease-in-out 0.4s forwards;
  -ms-animation: fadeInDown ease-in-out 0.4s forwards;
}
#evt li {
  width: 22%;
  display: inline-block;
  background: rgb(0 58 119 / 98%);
  border: 1px solid #ffffff;
  padding: -1px -5px;
  border-radius: 20px;
  margin: 7px;
  height: 43px;
}
#evt li a {
      width: 100%;
    height: 100%;
    display: block;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    margin-top: 4%;
    cursor: pointer;
}
#evt li:hover {
	color: #FFFBEB;
	background-color: #1a5a93;
}
#close {
     position: absolute;
    top: -21%;
    right: 2%;
    left: auto;
    padding: 5px 5px 5px 5px;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(255 255 255);
    z-index: 99;
    background-color: rgb(0 83 151);
    cursor: pointer;
    border-radius: 30px;
}
#close:before, #close:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 59%;
  left: 0;
  margin-top: -1px;
  background: #fff;
  border-radius: 5px;
  margin-top: -5px;
}
#close:before {
  transform: rotate(45deg);
}
#close:after {
  transform: rotate(-45deg);
}
.wrap video {
  display: block;
  height: 100%;
  margin: 0 auto;
  margin-top: -19%;
  margin-left: -30.7%;
}