* {
  font-family: Arial, 微軟正黑體, sans-serif;
  text-decoration: none;
}
ul {
  list-style: none;
}
html, body {
  box-sizing: border-box;
  position: relative;
  margin: 0px auto;
  min-width: 1200px;
  background-color: rgb(23 26 65);
}
header, section, footer {
  width: 100%;
}
.wrap {
  position: relative;
  margin: 0px auto;
  text-align: center;
  z-index: 2;
}
/*----header----*/
header {
  position: relative;
  height: 938px;
  overflow: hidden;
}
header .wrap {
  top: 0px;
}
/*----Logo----*/
.logo {
  margin-top: 3%;
  position: absolute;
  margin-left: 6%;
  z-index: 99;
}
/*----Slogan----*/
.slogan {
  margin-right: -87%;
  margin-top: 48%;
  z-index: 100;
}
.characters01 {
  position: absolute;
  margin-top: -3%;
  z-index: 1;
  margin-left: 54%;
}
.characters02 {
  position: absolute;
  margin-top: 9%;
  margin-left: -3%;
}
.characters03 {
  position: absolute;
  margin-top: 13%;
  margin-left: 113%;
}
.btn_start {
  transition: .5s;
}
.btn_start:hover {
  filter: saturate(.3);
}
.btn_start img {
  animation: fadein 1s forwards, start ease-in-out 1.5s infinite;
  animation-delay: .5s;
  opacity: 0;
}
#notice01 {
  display: block;
  margin: 10px auto 0;
  width: 602px;
  height: 487px;
  cursor: pointer;
  transition: .5s;
  background: url("../images/content/007.png") no-repeat center top;
}
#notice01:hover {
	filter: brightness(1.5);
	-webkit-filter: brightness(1.5);
	-moz-filter: brightness(1.5);
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes start {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
/*----video----*/
.inner {
  position: absolute;
  left: 0;
  top: 34%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: top center;
  margin-top: 26.5%;
}
.inner video, .loaderImg {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
}
.inner video {
  z-index: 1;
}
.title {
  display: block !important;
}
.char01 {
  position: relative;
  margin-left: -37%;
  margin-top: 36%;
  display: block !important;
}
.char02 {
  position: relative;
  margin-left: 40%;
  margin-top: -55%;
  z-index: -1;
  display: block !important;
}
.char03 {
  position: absolute;
  margin-left: 73%;
  margin-top: -18%;
}
.char04 {
  position: absolute;
  margin-left: 70%;
  margin-top: -17%;
}
/*----section----*/
section {
  position: relative;
  margin-top: -580px;
  padding: 260px 0 5px;
  text-align: center;
  z-index: 5;
  background-image: url(../images/bg_bottom.png);
  background-repeat: no-repeat;
  background-position: center top;
}
section .wrap {
  left: 0;
}
section ul {
  position: relative;
  height: 101px;
  z-index: 198;
  text-align: center;
  background-repeat: no-repeat;
  background-color: #0d0429;
  background-position: top;
}
#tab2 ul.tabs {
  background-color: unset;
  font-size: 19px;
  font-weight: bold;
  color: #cbe1f3;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: -7% auto;
  position: relative;
}
#tab2 ul li {
  display: inline-block;
  transition: .5s;
  cursor: pointer;
  width: 138px;
  background-color: #083857;
  margin: 5px 5px 5px 5px;
  padding: 10px;
}
#tab2 a.content1 {
  color: #b8fdff;
  margin-left: 10px;
  margin-right: 10px;
}
.character {
  position: absolute;
  margin-left: 30%;
  margin-top: -22%;
  animation: Leftslide linear 0.6s forwards;
}
.character01 {
     position: absolute;
    margin-left: 49%;
    margin-top: -3%;
    animation: rightslide linear 0.6s forwards;
}
@keyframes Leftslide {
 0% {
 opacity: 0;
 left: 50px;
}
 100% {
 opacity: 1;
 left: 0;
}
}
@keyframes rightslide {
 0% {
 opacity: 0;
 left: -50px;
}
 100% {
 opacity: 1;
 left: 0;
}
}
.tab1 {
  background-image: url(../images/tab_menu_02.png);
}
section ol {
  margin-left: 23%;
  text-align: left;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
ol li strong {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: rgb(0, 255, 255);
}
section ul li {
  display: inline-block;
  transition: .5s;
  cursor: pointer;
}
section li.active {
  filter: saturate(2.5) hue-rotate(10deg);
}
a:hover, a.active {
  filter: saturate(2.5) hue-rotate(10deg);
}
section li.active01 {
  filter: saturate(2.5) hue-rotate(10deg);
}
a:hover, a.active01 {
  filter: saturate(2.5) hue-rotate(10deg);
}
.section.active .btn_play {
  animation: slogan ease 1.5s forwards;
  margin: 8% auto 0%;
  left: 31%;
  top: 48%;
  z-index: 99;
  position: relative;
  opacity: 1;
}
.btn_play {
  transition: 1.5s;
}
.img {
  position: absolute;
  margin-top: -15%;
}
.img01 {
  position: absolute;
  margin-top: -16%;
  margin-left: 3%;
}
.content {
  padding-top: 14%;
}
.tab_container {
  position: relative;
  margin: 30px auto 80px;
  max-width: 1200px;
  color: #ffffff;
}
.title img {
  width: 100%;
  margin-top: 6%;
}
.tab_content {
  position: relative;
  padding: 20px 70px 30px;
  text-align: center;
}
.tab_content img {
  margin: 0 auto;
  max-width: 1100px;
}
.sub_text {
  margin-bottom: 30px;
}
.sub_text p, h3.sub_title {
  text-align: center;
}
.sub_text img {
  margin: 0 10px;
  vertical-align: middle;
}
h2 {
  color: #fffeff;
  display: block !important;
  line-height: 36px;
}
h3 {
  font-size: 30px;
  margin-top: 0%;
  color: rgb(252, 139, 249);
}
h4 {
  font-size: 19px;
  color: rgb(165 255 255);
  line-height: 31px;
}
h5 {
  font-size: 18px;
  color: rgb(236 209 255);
  text-align: left;
  font-weight: normal;
}
h7 {
      color: #fffeff;
    display: block !important;
    line-height: 36px;
    position: absolute;
    margin-top: -56%;
    margin-left: 40%;
    font-size: 25px;
    font-weight: bold;
}
p {
  font-size: 18px;
  color: rgb(179 227 255);
  text-align: justify;
  line-height: 28px;
  font-weight: 600;
}
.caii {
  position: relative;
  display: block !important;
}
.equip {
  display: block !important;
  background-color: revert;
  width: 35%;
  margin-top: 13%;
}
.active .equip {
  -webkit-animation: fadeInTop 1.2s forwards;
  -moz-animation: fadeInTop 1.2s forwards;
  animation: fadeInTop 1.2s forwards;
}
.equip li {
  position: relative;
  width: 60px;
  margin-right: 60px;
  cursor: pointer;
}
.equip li {
  display: inline-block;
  margin: 0 10px;
}
.equip01 {
  display: block !important;
  background-color: revert;
  position: relative;
  margin-top: 6%;
}
.active .equip01 {
  -webkit-animation: fadeInTop 1.2s forwards;
  -moz-animation: fadeInTop 1.2s forwards;
  animation: fadeInTop 1.2s forwards;
}
.equip01 li {
  position: relative;
  width: 60px;
  margin-right: 60px;
  cursor: pointer;
}
.equip01 li {
  display: inline-block;
  margin: 0 10px;
  width: 184px !important;
}
table p {
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-align: center;
}
a.btn-wing {
  color: aliceblue;
}
/*----btn----*/
.btn {
  border: 2px solid #c819d5;
  display: block;
  margin: 20px auto 0;
  padding: 5px 10px;
  max-width: 150px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  background: #91109b;
  transition: .5s;
}
.big {
  margin: 20px auto;
  padding: 10px;
}
.btn:hover {
  filter: brightness(1.2);
}
/*----Table----*/
.tab_content table {
  width: 100%;
  margin: 2% auto;
}
.tab_content table tr:first-child td, .tab_content table td.first {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background: #91109b;
  padding: 10px 10px 10px 10px;
}
.tab_content table td {
  border: 1px solid #986397;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: #ffffff;
  vertical-align: middle;
  background-color: #ffe9ff;
}
.tab_content table p {
  font-size: 17px;
  color: rgb(78 1 84);
  text-align: center;
}
#tab4 .tab_content table {
  width: 70%;
  margin: 2% auto;
}
/*----Go Top----*/
.gotop {
  display: none;
  position: fixed;
  width: 65px;
  height: 65px;
  bottom: 150px;
  right: 15%;
  background: url(../images/top.png) no-repeat center top;
  cursor: pointer;
  z-index: 10;
}
.gotop:hover {
  background-image: url(../images/top.png);
}
/*----Footer----*/
footer {
  position: absolute;
  bottom: 0;
  height: 75px;
  color: #fff;
  font-size: 12px;
  background: rgba(0, 0, 0, .5);
  z-index: 10;
}
.evt_fot {
    position: relative;
    background: #000000;
}
footer table {
  margin: 0 auto 0 auto;
}
footer table td {
  padding-right: 8px;
}
footer .about {
  line-height: 10px;
}
footer table .t {
  list-style: none;
  margin-left: -40px;
  font-size: 11px;
  line-height: 15px;
}
@keyframes scaleDraw { /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
  0% {
    transform: scale(0.5); /*开始为原始大小*/
  }
  100% {
    transform: scale(1);
  }
}
/*----view----*/
.view {
  position: absolute;
  animation: scaleDraw .2s forwards;
}
.rock {
  position: absolute;
  margin-left: 2%;
  margin-top: -15%;
  z-index: 99;
}
@media screen and (max-width: 1200px) {
  .char01, .char02, .char03, .char04 {
    display: none;
  }
  section ul {
           height: auto;
        margin-top: 10%;
  }
  .logo {
    margin-left: 7%;
  }
  .slogan {
           margin-right: 0%;
        margin-top: 32%;
  }
  .inner {
    margin-top: 37.5%;
  }
  .rock {
    margin-left: -25%;
  }
	.characters01 {
    margin-top: -3%;
    z-index: 1;
    margin-left: 15%;
}
	.characters02 {
    position: absolute;
    margin-top: 13%;
    margin-left: -31%;
}
	.characters03 {
    position: absolute;
    margin-top: 13%;
    margin-left: 59%;
}
	.character {
    position: absolute;
    margin-left: 27%;
    margin-top: -40%;
}
	.char01 {
    position: relative;
    margin-left: -35%;
    margin-top: 7%;
    display: block !important;
}
}
/*----Pay----*/
#pay, #pay01, #pay02 {
  width: 70%;
  font-size: 18px;
  color: #ffffff;
  position: relative;
  color: #5d2300;
  font-weight: 600;
}
.pay, .pay01, .pay02 {
  max-width: 668px;
  height: 390px;
  text-align: left;
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.pay img, .pay01 img, .pay02 img {
  position: relative;
}
.pay h1, .pay01 h1, .pay02 h1 {
  position: absolute;
  text-align: center;
  font-size: 28px;
  top: 62px;
  left: 0;
  right: 0;
  color: #ffe685;
  font-weight: bold;
}
.pay p, .pay01 p, .pay02 p {
  position: absolute;
  text-align: center;
  font-size: 21px;
  top: 110px;
  left: 0;
  right: 0;
  color: #ffca85;
}
.pay span, .pay01 span, .pay02 span {
  color: #ff671d;
  margin: 0 10px;
  font-size: 25px;
}
.pay h4, .pay01 h4, .pay02 h4 {
  position: absolute;
  top: 170px;
  left: 0;
  right: 0;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #461f0d;
}
.pay_btn {
  display: inline-block;
  position: absolute;
  top: 202px;
  left: 0;
  right: 0;
}
.pay_btn li {
  display: inline-block;
}
.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: block;
  top: 0;
  left: 0;
}
.reveal-modal {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 10000;
  height: 100%;
}
#close {
     position: fixed;
    z-index: 2;
    top: 16%;
    left: auto;
    right: 21%;
    display: inline-block;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border: none;
    background: transparent;
    cursor: pointer;
    transform-origin: center center;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}
#close {
  transform: rotate(180deg);
}
#close:before, #close:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #ffffff;
  border-radius: 5px;
}
#close:before {
  transform: rotate(45deg);
}
#close:after {
  transform: rotate(-45deg);
}
/*----Remarks----*/
.btn_remarks {
  top: 10px;
  right: 0px;
  position: absolute;
  cursor: pointer;
  z-index: 999;
}
.btn_remarks: {
  top: 8px;
}
.remarks {
  width: 92%;
  line-height: 28px;
  font-size: 18px;
  font-weight: bold;
  color: #bf8b64;
  /*background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;*/
  position: relative;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 65px;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
}
.remarks h3 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #ebe490;
  margin-bottom: 10px;
}
.remarks ol li {
  list-style-type: decimal;
  margin-left: 30px;
}
@keyframes Rightslide {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}