* {
  font-family: 微軟正黑體;
}
html, body {
      box-sizing: border-box;
    position: relative;
    margin: 0px auto;
    min-width: 1200px;
    background: url(../images/bg3.jpg) no-repeat center top #f6c07a;
    word-break: break-all;
}
/*----Wrap----*/
.wrap {
  max-width: 1200px;
  position: relative;
  margin: 0px auto;
  overflow: hidden;
}
/*----Logo----*/
.logo {
  position: relative;
  margin: 2.4% 0% 0.5% 2.5%;
}
.logo a:hover {
  position: relative;
  top: -3px;
}
/*----Slogan----*/
.slogan {
  position: absolute;
  margin-top: 3%;
  right: 17%;
  animation: slogan ease-in-out 1.5s infinite;
}
.slogan03 {
  position: absolute;
    margin-top: 7%;
    right: 27%;
    animation: slogan ease-in-out 1.5s infinite;
}
@keyframes slogan {
  0% {
    top: 0px;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 0px;
  }
}
center {
    margin-top: 0%;
    font-size: 31px;
    color: brown;
    font-weight: bold;
}
.notice01 {
    width: 70%;
    margin: 0 auto;
    line-height: 30px;
}

.notice01 ol {
    background-color: white;
    border-radius: 23px;
    border: 3px solid #d99096;
    padding: 30px 0px 30px 0px;
    padding-left: 46px;
}
/*----Table----*/
.table {
  text-align: center;
  padding-top: 20px;
}
.table h1 {
  margin-top: 5%;
  color: #da2552;
}
.table p {
  margin: 1% auto;
  color: #5600ff;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
}
.table p.mark {
  color: #c01616;
  font-size: 18px;
}
.table table {
  margin: 2% auto 0;
  width: 80%;
}
.table .h1 {
  padding: 2% 0%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: #da2552;
}
.table .h2, .table .h2y {
  padding: 10px 20px;
  width: 42%;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.table .h2y {
  color: #ff2429;
}
.table .br:hover {
  filter: brightness(1.05);
}
.back_btn {
  margin: 3% auto 2% auto;
  text-align: center;
}
.back_btn img:hover {
  filter: brightness(1.05);
}
.content01 {
        max-width: 1200px;
    border-radius: 15px;
    position: relative;
    margin: 0% auto 5% auto;
    overflow: hidden;
}
.img {
  text-align: center;
  position: relative;
}
.img a:hover {
  filter: brightness(1.05);
}
.award01 ul {
  position: relative;
  color: white;
  font-size: 18px;
  font-weight: 600;
  height: 144px;
  margin-left: 5%;
  line-height: 30px;
}
.award02 ul {
  position: relative;
  color: white;
  font-size: 18px;
  font-weight: 600;
  height: 144px;
  margin-left: 5%;
  line-height: 30px;
}
.award02 strong, .award01 strong {
  font-weight: bolder;
  color: #ff2b2b;
  font-size: 32px;
}
.title01 {
  text-align: center;
  margin: -2% auto;
}
.fashion {
  margin-top: 9%;
}
.award {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}
.tit01 {
     background-color: #ffd4a7;
    height: 51px;
    border-radius: 30px 30px 0 0;
    text-align: center;
    color: #570303;
    font-size: 25px;
    font-weight: bold;
    line-height: 26px;
    padding-top: 26px;
}
.tit02 {
    background-color: #ffd4a7;
  height: 66px;
  border-radius: 30px 30px 0 0;
  text-align: center;
 color: #570303;
  font-size: 23px;
  font-weight: 600;
  line-height: 26px;
  padding-top: 10px;
}
.award01 {
  display: inline-block;
    height: 356px;
    width: 326px;
    background-color: #773d00;
    border-radius: 30px;
    margin: 3px 3px 3px 3px;
	    border: 2px solid #8C5A3C;
}
.award02 {
 display: inline-block;
    height: 356px;
    width: 326px;
    background-color: #773d00;
    border-radius: 30px;
    margin: 3px 3px 3px 3px;
	    border: 2px solid #8C5A3C;
}
.amount {
        text-align: center;
    margin: 11% auto;
    font-size: 24px;
    background-color: #ffe0a1;
    width: 53%;
    height: 50px;
    line-height: 46px;
	    border-radius: 20px;
    border: 2px solid #615439;
}
.amount01 {
      display: inline;
    margin-left: 10px;
    margin-right: 10px;
    color: #d44000;
    font-weight: 600;
}
.amount01 strong {
  color: #781e15;
}
.cont {
    margin-top: -9%;
    display: flex;
    justify-content: center;
}
.notice {
     width: 50%;
    margin: 0 auto;
    line-height: 30px;
    color: #9a2f00;
    font-weight: bold;
}
/*----Footer----*/
#footer {
 position: relative;
    height: 90px;
    background: #000000;
    color: #fff;
    font-size: 12px;
}
#footer table {
  margin: 0 auto 0 auto;
}
#footer table td {
  padding-right: 8px;
}
#footer .about {
  line-height: 10px;
}
#footer table .t {
  list-style: none;
  margin-left: -40px;
  font-size: 11px;
  line-height: 15px;
}