@media screen and (max-width: 1600px) {
body {
	background-size: 120%;
}
.logo {
	margin: 1%;
	width: 20%;
}
}
@media screen and (max-width: 1140px) {
	html, body {
		width: 100%;
	}
	body {
		width: 100%;
		overflow-x: hidden;
	}
	.char01, .char02, .char03 {
        display: none;
    }

    .char04 {
        width: 50%;
        right: -13%;
        bottom: 45%;
    }

    .bottom {
        margin: 0% auto;
    }
#footer {
	display: none;
}
#footer_sp {
	display: block;
	padding: 20px 10px 15px;
	color: #ffffff;
	background: #461f0d;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
}
#footer_sp .px {
	padding-bottom: 15px;
}
#footer_sp .grade img {
	margin: 10px 0px -5px 0px;
	;
}
#footer_sp ul {
	list-style: none;
	margin-left: -40px;
}
}

@media screen and (max-width: 1000px) {
body {
	background: url(../images/bg_m.jpg) no-repeat center top #3a210c;
	background-size: cover;
}
.wrap {
	padding: 10% 0 0;
}
.logo {
	margin: 1%;
	width: 40%;
}
.slogan {
	width: 80%;
	margin: auto;
}
 @keyframes slogan {
 from {
 opacity: 0;
 margin: -3% -3% -0.3%;
}
 to {
 opacity: 1;
 margin: -3% 5% -0.3%;
}
}
.btn_remarks {
        width: 23%;
    }

    .remarks {
        width: 90%;
        max-width: 900px;
        margin: 20% auto;
        line-height: 2;
        font-size: 16px;
        font-weight: normal;
        padding: 0;
        color: #FFF;
        position: relative;
    }

    .remarks ol {
        padding: 0;
    }
}
@media screen and (max-width: 640px) {
    .form {
        width: 65%;
        bottom: 46%;
    }

    .form td {
        height: 30px;
    }

    .btn_submit {
        bottom: 21%;
    }

    .bonus .prize_list li {
        width: 49%;
    }
}
